body {
            padding-top: 5rem;
            background-image: url('https://i.imgur.com/FwCRSND.jpg');
        }

       .dateName{
            margin-bottom: 15%;

       }

       #date{
           font-family: 'Audiowide';
           color: #a4190d;
       }

       #missionName{
           font-family: 'Bungee Shade';
           color: #3269a4;
       }

        .mission{
            border: black 5px solid;
            box-shadow: 0 0 0 5px #00dcdc;

            border-radius: 15px 50px;
            margin: 5%;
            padding: 10px;
            background: whitesmoke;
        }

        #missionDescription{
            font-family: 'Gruppo';
            font-size: 25px;

        }

        #launchInformation{
            font-family: 'Teko';
            font-size: 25px;

        }